body{
    background-color: hsl(97deg 13% 80%);
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
.navbar{
     background-color: hsl(203deg 21% 23%);
    height: 80px;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    position: absolute;
    left:20px;
    height: 40px;
    width: 40px;
}

 .box1{
     position:absolute;
     top:140px;
     left:80px;
     background-color:hsl(0deg 0% 21%);
     border-radius: 20px;
         width: 280px;
     height:450px;
 
    }
    .box2{
        background-color:hsl(0deg 0% 21%) ;
        width:550px ;
        height: 40px;
        border-radius: 10px;
        position: absolute;
        right: 200px;
        top:140px;
        
    }
    .search{
        color:hsl(97deg 13% 80%);
        letter-spacing: 3px;
        position:absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        left: 25px;
        top:-12px;
        opacity: 50%;
        

    }

    .box3{
        background-color:hsl(0deg 0% 21%) ;
        width: 730px;
        height:150px;
        position: absolute;
        bottom: 100px;
        right:100px;
        border-radius: 20px;

    }
/* .box4{
    background-color:rgb(211, 40, 40);
    display:grid;
    height: 125px;
    width: 175px;
    position:absolute;
    bottom:305px;
    right:100px ;
    border-radius: 15px;
} */

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    /* background-color:hsl(97deg 13% 80%) ; */
    position:absolute;
    bottom:305px;
    gap:100px;
    right:100px ;

}
.grid-container >div{
    height: 125px;
    width: 175px;
    background-color:hsl(0deg 0% 21%);
    
 border-radius: 15px;
} 